@import "partials/params";
@import "partials/mixins";
@import "../../node_modules/font-awesome/scss/font-awesome";

html, body {
  @include clear;
  width: 100%;
  font-family: $main-font;
}

h1, h2, h3, h4, h5, h6, p {
  @include clear;
}

a {
  text-decoration: none;
}

.view-port {
  min-width: $view-port;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
  width: 100%;
}

.first-screen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}