@import "partials/params";
@import "partials/mixins";

// Variables
$font-color: #fff;

.nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 $nav-height;
  position: absolute;
  left: 0;
  top: 0;
  color: $font-color;
  background-color: transparent;

  &__brand {
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
  }

  &__menu {
    @include clear-list;
    margin-right: 50px;
    display: flex;
    height: $nav-height;
    font-family: 'Asap Condensed', sans-serif;
  }

  &__item {
    margin: 22px 15px 5px;
    position: relative;
    font-size: 12px;

    &:hover {
      .nav__menu-border {
        opacity: 1;
      }
    }
  }

  &__link {
    color: $font-color;
    font-family: $main-font;

  }

  &__menu-border {
    display: block;
    height: 1px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    width: 100%;
    color: $font-color;
    background-color: $font-color;
    transition: .3s opacity;
  }
}